@import '../constants.scss';

.button {
  width: 100%;
  margin: 0 auto;
  background-color: $c-black2;
  padding: 8.5px 0;
  color: #fff;
  font-weight: 600;
  border: 1px solid $c-black12;
  transition: $transition;

  &.enabled {
    background-color: $c-black10;

    &:hover {
      background-color: $c-black12;
    }

    &:active {
      background-color: #fff;
      color: #000;
      transform: translateY(1px)
    }
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
