$c-black1: #121212;
$c-black2: #1d1d1d;
$c-black3: #222222;
$c-black4: #242424;
$c-black5: #272727;
$c-black6: #2c2c2c;
$c-black7: #2d2d2d;
$c-black8: #323232;
$c-black9: #333333;
$c-black10: #373737;
$c-black11: #4c4c4c;
$c-black12: #4d4d4d;
$c-red: #cf6679;
$box-shadow:
  0px 8px 10px 1px hsla(0,0%,0%,0.14), 
  0px 3px 14px 2px hsla(0,0%,0%,0.12), 
  0px 5px 5px -3px hsla(0,0%,0%,0.2);
$transition: all 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.25);
